$main-bg: #ffffff;
$secondary-bg: #d9d9d9;
$text-primary: #000000;
$text-secondary: #252525;
$accent: #dc143c;
$text-white: #ffffff;
$grey-bg: #252525;

:root {
  --main-bg: #ffffff;
  --secondary-bg: #d9d9d9;
  --text-primary: #000000;
  --text-secondary: #252525;
  --accent: #dc143c;
  --text-white: #ffffff;
}
