<div class="wrapper contacts--wrapper">
    <section class="contacts content-container">
        <h2 class="contacts-title">Зв'зок з нами</h2>

        <div class="create-application">
            <a routerLink="/create">
                <i class="fa-solid fa-wrench"></i>
                Залишиити заявку
            </a>
        </div>
        <div class="separator">
            <span class="separator-line"></span>
            <span class="separator-text">або</span>
            <span class="separator-line"></span>
        </div>
        <app-contacts [flexDirection]="'column'"></app-contacts>
    </section>
</div>
