<header class="d-flex text-center fullscreen">
    <div class="overlay"></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="z-index: 1">
        <div class="mb-auto container-xl">
            <div>
                <h3 class="float-md-start mb-0">
                    <a class=" navbar-brand" href="./">PrintSpeed-3d</a>
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-1" href="#">Про нас</a>
                    <a class="nav-link fw-bold py-1 px-1" href="#">Контакти</a>
                </nav>
            </div>
        </div>

        <div class="px-3">
            <h1>Швидкий та якісний друк</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                the
                text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a class="btn btn-lg btn-secondary" href="./create">Залишити заявку</a>
            </p>
        </div>

        <div class="mt-auto">
        </div>
    </div>
</header>

