.fullscreen {
  height: 100vh;
  width: 100%;
  position: relative;
}

.overlay {
  background-image: url(../../../../assets/img/3d-print-electronics-3-scaled-1.png);
  background-size: cover;
  opacity: 0.09;
  height: 100%;
  width: 100%;
  position: absolute;
}
