<div class="w-100">
    <nav class="bg-primary header px-1">
        <div class="container navbar navbar-expand-md navbar-dark w-100">
            <h3>
                <a class="navbar-brand" routerLink="/">{{name}}</a>
            </h3>

            <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button">&#9776;
            </button>

            <span [collapse]="isMenuCollapsed" [isAnimated]="true" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li *ngFor="let item of contactsList;">
                        <a class="btn mx-1" routerLink="/{{item.name}}">
                            <i class="{{item.icon}}"></i>
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </nav>

    <app-create-form class="mt-5"></app-create-form>
</div>

