<section class="pricing">
    <h2 class="title">Ціни</h2>
    <ul class="pricing-list">
        <li class="pricing-item">
            <div class="pricing-item-title">name</div>
            <div class="pricing-item-description">desc</div>
        </li>
        <li class="pricing-item">
            <div class="pricing-item-title">name</div>
            <div class="pricing-item-description">desc</div>
        </li>
        <li class="pricing-item">
            <div class="pricing-item-title">name</div>
            <div class="pricing-item-description">desc</div>
        </li>
        <li class="pricing-item">
            <div class="pricing-item-title">name</div>
            <div class="pricing-item-description">desc</div>
        </li>
    </ul>
</section>
