footer {
  width: 100%;
  padding: calc(var(--padding) / 4);
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--secondary-bg);
  font-size: 0.5em;

  h3 {
    margin: 0 auto;
    text-align: center;

    .fa-heart {
      color: var(--accent);
    }
  }

  a:hover {
    color: var(--accent);
  }

}

.container {
  margin: 0 auto;
}
