<section class="about-us container mt-5">
    <h2 class="">Про нас</h2>
    <article class="d-flex flex-sm-row flex-column py-1 my-1 gap-1 gap-md-4">
        <div class="p-1">
            <img alt="Quality filaments" class="w-100 rounded-3" src="../../../../assets/img/filaments-1.jpg">
        </div>
        <div class="flex-grow-1 px-1">
            <h3 class="">Quality of filaments</h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
    <article class="d-flex flex-sm-row-reverse flex-column py-1 my-1 my-md-4 gap-1 gap-md-4">
        <div class="p-1">
            <img alt="Precision" class="w-100 rounded-3" src="../../../../assets/img/precision-1.jpg">
        </div>
        <div class="flex-grow-1 px-1">
            <h3 class="">Precision</h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
    <article class="d-flex flex-sm-row flex-column py-1 my-1 my-md-4 gap-1 gap-md-4">
        <div class="p-1">
            <img alt="Firmware" class="w-100 rounded-3" src="../../../../assets/img/firmware-1.jpg">
        </div>
        <div class="flex-grow-1 px-1 ">
            <h3 class="">Firmware</h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
</section>
