<section class="about-us content-container">
    <h2 class="title">Про нас</h2>
    <article class="article">
        <div class="article-image">
            <img alt="Quality filaments" src="../../../../assets/img/filaments.jpg">
        </div>
        <div class="article-content">
            <h3 class="article-heading">Quality of filaments</h3>
            <p class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
    <article class="article">
        <div class="article-image">
            <img alt="Precision" src="../../../../assets/img/precision.jpg">
        </div>
        <div class="article-content">
            <h3 class="article-heading">Precision</h3>
            <p class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
    <article class="article">
        <div class="article-image">
            <img alt="Firmware" src="../../../../assets/img/firmware.jpg">
        </div>
        <div class="article-content">
            <h3 class="article-heading">Firmware</h3>
            <p class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
</section>
