<section class="about-us container-xl mt-5">
    <h2 class="text-center">Про нас</h2>
    <article class="d-flex flex-row py-1 my-1">
        <div class="w-50 me-2 p-1">
            <img alt="Quality filaments" class="w-100" src="../../../../assets/img/filaments.jpg">
        </div>
        <div class="w-50 px-1">
            <h3 class="">Quality of filaments</h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
    <article class="d-flex flex-row-reverse py-1 my-1">
        <div class="w-50 me-2 p-1">
            <img alt="Precision" class="w-100" src="../../../../assets/img/precision.jpg">
        </div>
        <div class="w-50 px-1 text-end">
            <h3 class="">Precision</h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
    <article class="d-flex flex-row py-1 my-1">
        <div class="w-50 me-1 p-1">
            <img alt="Firmware" class="w-100" src="../../../../assets/img/firmware.jpg">
        </div>
        <div class="w-50 px-1 ">
            <h3 class="">Firmware</h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deserunt dolor doloremque
                fugit nemo nulla, obcaecati officiis optio unde. Earum illum in, numquam praesentium quibusdam ratione
                sapiente totam ut.
            </p>
        </div>
    </article>
</section>
