@use '../../../../assets/scss/contact-btn' as btn;

.contacts {

  &-list {
    padding-inline-start: 0;
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: var(--padding);
    height: 100%;

    &-item {
      @include btn.contactBtn;

      &::marker {
        content: none;
      }
    }
  }
}
